{% extends 'base.html.twig' %}

{% block title %}
	{{ 'security.login.pageTitle'|trans }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6">
				<div class="card mt-5 shadow">
					<div class="card-body p-4">
						<h1 class="card-title text-center mb-4">{{ 'security.login.title'|trans }}</h1>

						{% if error %}
							<div class="alert alert-dismissible alert-danger">
								<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
								{{ error.messageKey|trans(error.messageData, 'security') }}
							</div>
						{% endif %}

						{% for message in app.flashes('success') %}
							<div class="alert alert-dismissible alert-success">
								<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
								{{ message }}
							</div>
						{% endfor %}

						<form action="{{ path('security.login') }}" method="post">
							<div class="mb-3">
								<label for="username" class="form-label">{{ 'security.login.email'|trans }}</label>
								<input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="exemple@tiramisou.com">
								<small id="emailHelp" class="form-text text-muted">{{ 'security.login.email.help'|trans }}</small>
							</div>

							<div class="mb-3">
								<label for="password" class="form-label">{{ 'security.login.password'|trans }}</label>
								<input type="password" class="form-control" id="password" name="_password" placeholder="********">
							</div>

							<div class="d-grid gap-2">
								<button type="submit" class="btn btn-primary btn-lg">{{ 'security.login.submit'|trans }}</button>
							</div>							
						</form>
						<div class="mt-3 text-center">
						Pas de compte ? <a href="{{ path('security.registration') }}">S'inscrire</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}