{% extends 'adminBase.html.twig' %}

{% block title %}Nouvelle catégorie - Tiramisou
{% endblock %}

{% block body %}
	<div class="container-fluid my-4 px-4">
		<div class="d-flex justify-content-between align-items-center mb-4">
			<h1>Ajouter une nouvelle catégorie</h1>
			<a href="{{ path('admin.categories') }}" class="btn btn-secondary">
				<i class="bi bi-arrow-left me-2"></i>Retour à la liste
			</a>
		</div>

		<div class="row">
			<div class="col-lg-10 col-xl-8">
				<div class="card shadow-sm">
					<div class="card-header bg-primary text-white">
						<h5 class="mb-0">Informations de la catégorie
						</h5>
					</div>
					<div class="card-body">
						{{ form_start(form) }}

						{{ form_row(form.name) }}

						<div class="mt-2">
							{{ form_row(form.description) }}
						</div>

						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
